body {
  background: linear-gradient(#4F5D6A, #746E70);
  height: 100vh;
} 

#bargraph {
  width: 750px;
}

#bargraph > svg {
  border: 1px solid #000;
  background: linear-gradient(#746E70, #4F5D6A);
}

#bargraph svg rect, #bargraph svg text  {
  transition: 0.5s all;
}